body {
  background-color: steelblue;
}

.main2
{
  background-image: url("../../assets/back.jpg");
  background-size: 100%;
  height: 100%;
}

html {
  height: 100%;
}

.logo {
  width: 25%;
  height: 100%;
  float: left;
}

h1 {
  text-align: center;
  font-family: 'Teko', sans-serif;
  margin-bottom: 1cm;
  margin-top: 1cm;
  font-size: 80px;
}

#logo-link {
  color: steelblue;
}

#logo-link:hover {
  color: black;
}

.login {
  width: 70%;
  height: 100%;
  float: left;
}

.sign_up {
  margin-left: 130px;
  font-size: 11px;
  color: black;
}

.sign_up:hover {
  color: #000;
}

.sign {
  position: relative;
  // float: left;
  width: 200px;
  height: 20px;
  margin-left: 1150px;
  margin-top: -1cm;
}

.sign_button {
  display: inline-block;
  width: 65px;
  height: 30px;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  background-color: royalblue;
  color: white;
  border-radius: 7px;
}

.sign_button a, .logout a {
  color: black;
  font-size: 14px;
}

.sign_button a:hover, .logout a:hover {
  color: black;
}

.image {
  margin-top: 0.5cm;
  margin-left: 44%;
  margin-right: 7cm;
}

.main1 {
  background-color: steelblue;
  width: 100%;
  height: 35px;
  position: relative;
}

nav {
  width: 75%;
  height: 100%;
  float: left;
}

.nav-tabs {
  list-style: none;
  margin-left: 25px;
}

.nav-item {
  display: inline-block;
  max-width: 110px;
  height: 100%;
  padding: 8px 20px 0px 16px;
  font-size: 14px;
}

.nav-item a {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.nav-item :hover {
  color: #777;
}

h4 {
  color: black;
  position: absolute;
  margin-right: 10px;
  margin-top: 8px;
}

h4:hover {
  color:black;
}

.logout {
  position: absolute;
  width: 65px;
  height: 30px;
  text-align: center;
  margin-left: 150px;
  margin-top: 5px;
  background-color: royalblue;
  color: black;
  border-radius: 7px;
}

.sign_out {
  position: relative;
  width: 240px;
  height: 20px;
  margin-left: 1100px;
  margin-top: -1cm;
}
