

.column {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  float: left;
  background-color:white;

}


#menu{
  padding-top: 10px;
  padding-left: 45%;
  font-family: 'Tako', serif;
}
h3{
  color: black;
  font-family: 'Teko', serif;
  font-size: 180%;
}
h4{
  color: black ;
  font-family: 'Tako', serif;
  font-size: 120%;

}
#order{
  width: 70px;
  height: 32px;
  background-color: goldenrod;
  color:white;
  border-radius: 7%;
}
#save{
  width: 70px;
  height: 32px;
  background-color: goldenrod;
  color:white;
  border-radius: 7%;
  border-block-start-color: goldenrod;
  margin-left: 5px;
}

#input{
  padding-left: 10px;
  width:200px;
  height: 30px;
  border-radius: 7%;
}
#input2{
  width:80px;
  height: 30px;
  border-radius: 7%;
  padding-left: 10px;
  margin-left: 5px;
}
#inputs{
  padding-left: 0%;
}
.dishes{
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 200px;
}
