<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>Locations</h1>
    <h2>The list of locations </h2>
    <h3>http://127.0.0.1:8000/api/locations/</h3>
    <br>
    <h1>List of cinemas</h1>
    <h2>The list of cinemas of some locationwith id pk</h2>
    <h3>http://127.0.0.1:8000/api/locations/pk/cinemas/</h3>
    <br>
    <h1>Movies</h1>
    <h2>The list of movies of cinemas</h2>
    <h3>http://127.0.0.1:8000/api/cinemas/pk/movies/</h3>
    <br>
    <h1>Review</h1>
    <h2>Everyone can send a review to some cinema</h2>
    <h3>http://127.0.0.1:8000/api/cinemas/<int:pk>/reviews/</h3>
    <br>
    <h1>Tickets</h1>
    <h2>This section can see only authorized person and also ha can see only his own tickets</h2>
    <h3>http://127.0.0.1:8000/api/tickets/</h3>
</body>

</html>