<div class="main">

  <div class="box">
    <h2>Sign up</h2>
    <input type="text" name="" placeholder="Name" [(ngModel)]="name">
    <input type="text" name="" placeholder="Email" [(ngModel)]="email">
    <input type="text" name="" placeholder="Username" [(ngModel)]="login">
    <input type="password" name="" placeholder="Password" [(ngModel)]="password">
    <input type="password" name="" placeholder="Confirm password" [(ngModel)]="confirm">
    <input type="submit" value="Sign up" (click)="signUp()">
  </div>

</div>
